.message-display {
  color: darkslategray;
  width: 90vw;
  height: 88vh;
  margin-top: auto;
  margin-bottom: -5vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  scrollbar-width: thin;
}

.message-display p {
  display: flex;
  justify-content: center;
}
