.message-display {
  color: darkslategray;
  width: 90vw;
  height: 100%;
  margin-top: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow-y: auto;
}

.message {
  margin: 5px;
  background-color: lightgray;
  border-radius: 5px;
}
