.message-display {
  color: darkslategray;
  width: 90vw;
  height: 90vh;
  margin-top: auto;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

.message {
  margin: 5px;
  background-color: lightgray;
  border-radius: 5px;
}
