.room-layout {
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  max-height: 100dvh;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.message-box {
  color: darkslategray;
  background-color: darkgrey;
  border-radius: 5px;
  width: 60rem;
  height: 40rem;
}

.chat-box {
  display: inline-flex;
  flex-direction: row;
  align-items: baseline;
  width: 60rem;
  height: auto;
}

.chat-box input {
  margin-right: 0 5px;
  border-radius: 5px;
}
